appconfigpy==0.0.7
beautifulsoup4==4.6.3
certifi==2018.10.15
chardet==3.0.4
Click==7.0
colorama==0.4.0
DataProperty==0.35.2
decorator==4.3.0
Django==2.1.10
django-datatable==0.3.1
django-tables2==2.0.2
Faker==1.0.0
idna==2.7
importlib-metadata==0.6
ipython-genutils==0.2.0
jsonschema==2.6.0
jupyter-core==4.4.0
Logbook==1.4.1
markdown2==2.3.6
mbstrdecoder==0.5.0
msgfy==0.0.4
nbformat==4.4.0
path.py==11.5.0
pathvalidate==0.21.3
progressbar2==3.38.0
psycopg2==2.7.5
psycopg2-binary==2.7.5
pytablereader==0.22.1
python-dateutil==2.7.3
python-utils==2.3.0
pytz==2018.5
requests==2.20.1
simplejson==3.16.0
SimpleSQLite==0.33.1
six==1.11.0
sqlitebiter==0.23.2
sqliteschema==0.13.3
tabledata==0.0.24
text-unidecode==1.2
traitlets==4.3.2
typepy==0.3.0
urllib3==1.24.2
xlrd==1.1.0
