
{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}

{% else %}
<script language="javascript">
    window.location.href = "/"
</script>
{% endif %}
<!-- Main content -->
<div class="content">
    <div class="d-flex">
        <div class="breadcrumb">
            <a href="/expense_app/" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Dashboard</a>
        </div>
    
        <!-- <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a> -->
    </div>
    <!-- Basic initialization -->
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">All expenses </h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                    <a class="list-icons-item" data-action="reload"></a>
                    <a class="list-icons-item" data-action="remove"></a>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table id="expense_table" class="table text-nowrap">
                <thead>
                </thead>    
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <!-- /basic initialization -->


</div>
<!-- /main content -->

<script type="text/javascript" language="javascript" class="init">
    $(document).ready(function() {
        $('#expense_table').DataTable( {
            scrollX: true,
		    // "scrollCollapse": true,
		    "fixedColumns":   true,
            "order": [[ 0, "desc" ]],
            buttons: {            
                dom: {
                    button: {
                        className: 'btn btn-light'
                    }
                },
                buttons: [
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ]
            },
            "paging": true,
            // "serverSide": true,
            // "processing": true,
            "ajax": {
                // "processing": true,
                "url": "{% url 'ajax_loaddata' %}",
                "dataSrc": ""
            },
            "columns": [
                    { "data": "fields.date", "title": "Date"},
                    { "data": "fields.amount" , "title": "Amount"},
                    { "data": "fields.payee_payer" , "title": "Payee/Payer"},
                    { "data": "fields.category" , "title": "Category"},
                    { "data": "fields.sub_category" , "title": "Sub Category"},
                    { "data": "fields.payment_method" , "title": "Payment Method"},
                    { "data": "fields.description" , "title": "Description"},
                    { "data": "fields.ref_checkno" , "title": "Ref/Check No"},
                    { "data": "fields.status" , "title": "Status"},
                    { "data": "fields.receipt_picture" , "title": "Receipt Picture"},
                    { "data": "fields.account" , "title": "Accout"},
                    { "data": "fields.tag" , "title": "Tag"},
                    { "data": "fields.tax" , "title": "Tax"},
                    { "data": "fields.mileage" , "title": "Mileage"}
                ],
        } );
    } );
</script>
{% endblock %}