{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}

{% else %}
<script language="javascript">
    window.location.href = "/"
</script>
{% endif %}

<div class="content-wrapper">
<div class="d-flex">
        <div class="breadcrumb">
            <a href="#" class="breadcrumb-item"><i class="icon-coins mr-2"></i> Top Expenses</a>
        </div>
    
        <!-- <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a> -->
    </div>
    <div class="form-group" style="display: flex; justify-content: flex-end">
        <button type="button" id="reportrange" class="btn btn-danger daterange-ranges">
            <i class="icon-calendar22 mr-2"></i>
            <span></span>
        </button>
    </div>
    <div class="row">
        <div class="col-sm-6 col-xl-3">
            <div class="card card-body">
                <div class="media">
                    <div class="mr-3 align-self-center">
                        <i class="icon-store2 icon-3x text-danger-400"></i>
                    </div>

                    <div class="media-body text-right">
                        <h3 id="food" class="font-weight-semibold mb-0">{{ food }} ₹</h3>
                        <span class="text-uppercase font-size-sm text-muted">On Food</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-xl-3">
            <div class="card card-body">
                <div class="media">
                    <div class="mr-3 align-self-center">
                        <i class="icon-bus icon-3x text-primary-400"></i>
                    </div>

                    <div class="media-body text-right">
                        <h3 id="travel" class="font-weight-semibold mb-0">{{ travel }} ₹</h3>
                        <span class="text-uppercase font-size-sm text-muted">On Travel</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="card card-body">
                <div class="media">
                    <div class="mr-3 align-self-center">
                        <i class="icon-bag icon-3x text-success-400"></i>
                    </div>

                    <div class="media-body text-right">
                        <h3 id="personal" class="font-weight-semibold mb-0">{{ personal }} ₹</h3>
                        <span class="text-uppercase font-size-sm text-muted">On Personal</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="card card-body">
                <div class="media">
                    <div class="mr-3 align-self-center">
                        <i class="icon-piggy-bank icon-3x text-warning-400"></i>
                    </div>

                    <div class="media-body text-right">
                        <h3 id="savings" class="font-weight-semibold mb-0">{{ savings }} ₹</h3>
                        <span class="text-uppercase font-size-sm text-muted">On Savings</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-xl-3">
            <div class="card card-body">
                <div class="media">
                    <div class="mr-3 align-self-center">
                        <i class="icon-clapboard-play icon-3x text-info-400"></i>
                    </div>

                    <div class="media-body text-right">
                        <h3 id="entertainment" class="font-weight-semibold mb-0">{{ entertainment }} ₹</h3>
                        <span class="text-uppercase font-size-sm text-muted">On entertainment</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-xl-3">
            <div class="card card-body">
                <div class="media">
                    <div class="mr-3 align-self-center">
                        <i class="icon-furniture icon-3x text-pink-400"></i>
                    </div>

                    <div class="media-body text-right">
                        <h3 id="household" class="font-weight-semibold mb-0">{{ household }} ₹</h3>
                        <span class="text-uppercase font-size-sm text-muted">On household</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="card card-body">
                <div class="media">
                    <div class="mr-3 align-self-center">
                        <i class="icon-aid-kit icon-3x text-violet-400"></i>
                    </div>

                    <div class="media-body text-right">
                        <h3 id="healthcare" class="font-weight-semibold mb-0">{{ healthcare }} ₹</h3>
                        <span class="text-uppercase font-size-sm text-muted">On healthcare</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="card card-body">
                <div class="media">
                    <div class="mr-3 align-self-center">
                        <i class="icon-phone icon-3x text-teal-400"></i>
                    </div>

                    <div class="media-body text-right">
                        <h3 id="utilities" class="font-weight-semibold mb-0">{{ utilities }} ₹</h3>
                        <span class="text-uppercase font-size-sm text-muted">On Utilities</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(function() {

    var start = moment().subtract(29, 'days');
    var end = moment();

    function cb(start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    }

    $('#reportrange').daterangepicker({
        startDate: start,
        endDate: end,
        ranges: {
        'Today': [moment(), moment()],
        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
        'This Month': [moment().startOf('month'), moment().endOf('month')],
        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
        'Past Year': [moment().subtract(365, 'days'), moment().subtract(1, 'days')]
        },
        dateLimit: 365
    }, cb);

    cb(start, end);

    $('#reportrange').on('apply.daterangepicker', function(ev, picker) {
        const Http = new XMLHttpRequest();
        const url='/daterange?';

        $.ajax({
            type: "GET",
            url: '/daterange/',
            data: {
                'startdate': picker.startDate.format('YYYY/MM/DD'),
                'enddate' : picker.endDate.format('YYYY/MM/DD')
            },
            dataType: 'json',
            success: function (data) {
                $("#food").replaceWith('<h3 id="food" class="font-weight-semibold mb-0">' + parseInt(Math.abs(+data['food'])) + ' ₹</h3>')
                $("#travel").replaceWith('<h3 id="travel" class="font-weight-semibold mb-0">' + parseInt(Math.abs(+data['travel'])) + ' ₹</h3>')
                $("#personal").replaceWith('<h3 id="personal" class="font-weight-semibold mb-0">' + parseInt(Math.abs(+data['personal'])) + ' ₹</h3>')
                $("#savings").replaceWith('<h3 id="savings" class="font-weight-semibold mb-0">' + parseInt(Math.abs(+data['savings'])) + ' ₹</h3>')
                $("#entertainment").replaceWith('<h3 id="entertainment" class="font-weight-semibold mb-0">' + parseInt(Math.abs(+data['entertainment'])) + ' ₹</h3>')
                $("#household").replaceWith('<h3 id="household" class="font-weight-semibold mb-0">' + parseInt(Math.abs(+data['household'])) + ' ₹</h3>')
                $("#healthcare").replaceWith('<h3 id="healthcare" class="font-weight-semibold mb-0">' + parseInt(Math.abs(+data['healthcare'])) + ' ₹</h3>')
                $("#utilities").replaceWith('<h3 id="utilities" class="font-weight-semibold mb-0">' + parseInt(Math.abs(+data['utilities'])) + ' ₹</h3>')
            }
      });
    });

    $.ajax({
        type: "GET",
        url: '/startdate_enddate/',
        dataType: 'json',
        success: function (data) {
            console.log(new Date(data['startdate']))
            start = moment(new Date(data['startdate']), 'MMMM DD, YYYY');
            end = moment(new Date(data['enddate']), 'MMMM DD, YYYY');
            cb(start, end);
        }
    });
});

</script>

{% endblock %}